@{
  Layout = "_Layout";
}

@model University.Models.Department

<h2>Edit</h2>

<h4>Edit Department: @Html.DisplayFor(model => model.DepartmentName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DepartmentId)

  @Html.LabelFor(model => model.DepartmentName)
  @Html.EditorFor(model => model.DepartmentName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back To List", "Index")</p>